@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav'
            'left-col'
            'right-col'
        ;
    }    

    .right-col {
        justify-content: center;
    }

    #preview-shadow {        
        width: 250px;
        height: 280px;
    }
    
    #preview {
        width: 180px;
    }
}